{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h2>
        Bienvenido
    </h2>
    <p>
        Usted representará a una empresa y será asignado aleatoriamente a un sector de la economía, sector formal o sector informal.
    </p>

    <p>
        Usted como empresario tiene dos posibles estrategias las cuales son <strong> tranistar </strong> lo que significa por ejemplo,
        que si pertenece al sector informal cambiaría al sector formal, y la segunda opción es <strong>no transitar</strong>
        lo que implica que usted se mantiene en su sector.
    </p>

    <p>
        Para su mejor elección se le mostrá una una matriz de beneficios con rango de valores <strong>mínimos y maximos esperados</strong> , 
        la cual depende tanto de su estrategia, asi como de la estrategia de la empresa del otro sector.
    </p>
    
    <p>
        Su beneficio final estará función de una variable aleatoria, por lo que usted podría obtener mayor o menor utilidad a lo
        señalado en la matriz. En la siguiente pantalla se le explicará con mayor detalle como se calculan los beneficios.
    </p>

    <p>
        El pago con el que será compensado una ves termine el juego, estará en función de <strong>número de veces 
        </strong> del juego. Es así que <strong>los participantes con mayores ganancias en el juego</strong>, serán los que obtengan mayores pagos. 
    </p>

    <p>
        El número de veces que se repetirá el juego es desconocido.
    </p>

</div>
</div>