{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    </p>
        Cada sector tiene una utilidad inicial, la del sector formal es 4 veces la del informal.
    </p>

    <h4>
        Cálculo de los beneficios del sector informal:
    </h4>

    
        <p>
            <strong>Si usted decide permanecer en el sector informal y la empresa del sector formal tampoco transita</strong>, entonces
            como adicional a su utilidad inicial, recibirá una transferencia del sector formal que es equivalente al impuesto que paga 
            la empresa del sector formal. 
        </p>
    
        <p>
            <strong>Si usted decide permanecer en el sector informal, pero la empresa del sector formal transita al sector informal</strong>, entonces
            usted no recibirá la transferencia, por lo que su beneficio final será igual a su utilidad inicial. 
        </p>
    
        <p>
            <strong>Si usted decide transitar al sector formal</strong>, independientemente de la decisión que tome la empresa formal, adicional a su
            utilidad inicial, usted recibirá una <strong>dotación aleatoria extra</strong>, la cual podrá ser negativa o postiva, reflejando posibles pérdidas o ganancias.
            Sin embargo, que le toque las ganancias altas adicionales, si dependerá de la decisión de la otra empresa; tal es así que:
        </p>
        
        <ul>
            <li>
                Si usted se encuentra <strong>solo en el mercado formal</strong> (quiere decir que usted como informal transita y la empresa formal también transita, pero al sector informal), 
                usted obtendrá las ganancias altas, y por ende el <strong>valor máximo que se muestra en la matriz</strong>, con una probabilidad del <strong>90 por ciento.</strong>
            </li>

            <li>
                Mientras que si ambos <strong>comparten el mercado formal</strong> (quiere decir que usted como informal transita y la empresa formal no transita), usted obtendrá las ganancias altas, 
                y por ende el <strong>valor máximo que se muestra en la matriz</strong>, <strong>solo</strong> con una probabilidad del <strong>10 por ciento.</strong>
            </li>
            
        </ul>             
        


    <h4>
        Cálculo de los beneficios del sector formal:
    </h4>

    
        <p>
            <strong>Si usted decide transitar al sector informal y la empresa del sector informal también transita</strong>, entonces como 
            adicional a su utilidad inicial, recibirá una transferencia de la empresa informal que transitó al sector formal
            que es equivalente al impuesto que paga. 
        </p>
    
        <p>
            <strong>Si usted decide transitar al sector informal, pero la empresa del sector informal no transita al formal</strong>, entonces
            usted no recibirá la transferencia, por lo que su beneficio final será igual a su utilidad inicial. 
        </p>
    
        <p>
            <strong>Si usted decide permanecer en el sector formal</strong>, independientemente de la decisión que tome la empresa informal, 
            adicional a su utilidad inicial, usted recibirá una <strong>dotación aleatoria</strong> la cual podrá ser negativa o postiva, reflejando 
            posibles pérdidas o ganancias. Sin embargo, que le toque las ganancias altas adicionales, si dependerá de la decisión de la otra empresa; 
            tal es así que:
            </ul>
                 
        </p>
            
        <ul>
            <li>
                Si usted se encuentra <strong>solo en el mercado formal</strong> (quiere decir que usted como formal no transita y la empresa informal tampoco transita), 
                usted obtendrá las ganancias altas, y por ende el <strong>valor máximo que se muestra en la matriz</strong>, con una probabilidad del <strong>90 por ciento.</strong>
            </li>

            <li>
                Mientras que si ambos <strong>comparten el mercado formal</strong> (quiere decir que usted como formal no transita pero la empresa informal transita al sector formal), usted obtendrá las ganancias altas, 
                y por ende el <strong>valor máximo que se muestra en la matriz</strong>, <strong>solo</strong> con una probabilidad del <strong>10 por ciento.</strong>
            </li>
            
        </ul>

</div>
</div>