{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h2>
        Bienvenido
    </h2>
    <p>
        Usted representará a una empresa y será asignado aleatoriamente a un sector de la economía, <strong>sector formal o sector informal</strong>.
    </p>

    <p>
        Usted como empresario tiene dos posibles estrategias las cuales son <strong> tranistar </strong> lo que significa por ejemplo,
        que si pertenece al sector informal cambiaría al sector formal, y la segunda opción es <strong>no transitar</strong>
        lo que implica que usted se mantiene en su sector.
    </p>

    <p>
        Para su mejor elección se le mostrá una una matriz de beneficios con valores <strong>mínimos y maximos </strong> , 
        la cual depende tanto de su estrategia, asi como de la estrategia de la empresa del otro sector.
    </p>
    
    <p>
        Su beneficio final de cada ronda será consistente con los posibles valores de la matriz que se le mostrará. En la siguiente pantalla se 
        le explicará con mayor detalle como se calculan los beneficios de cada ronda.
    </p>

    <p>
        El pago monetario una vez finalizado el juego, estará en función de sus beneficios de cada ronda, tal que:

        <li>
            En cada ronda se calculará un <strong>ratio</strong> entre el pago de cada ronda y el endowment inicial de cada ronda que recibe como empresario. 
        </li>
        
        <li>
            Luego se sumarán todos los ratios obtendios por usted en cada ronda y se sumará todos sus ratios en cada ronda. 
        </li>
        
        <li>
            Finalmente su pago en soles será el obtenido de la suma de todas la rondas multiplicado por un tipo de cambio de 0.4 soles por cada punto que obtenga y
            un pago fijo de 5 soles independientemente de su desempeño en el juego. 
        </li>
         
    </p>

    <p>
        El número de rondas del juego es desconocido.
    </p>

</div>
</div>