  {% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informal Game
{% endblock %}

{% block content %}
    {{ subsession.session.vars.a_star }}, {{ subsession.session.vars.b_star }}
    
    {% include Constants.instructions_template_A %}

    <p>
      Estas guías estarán disponibles en las siguientes pantallas en caso desees consultarlas.
    </p>
    </p>

    <p>
      Usted pertenece al sector {{ player.role }}.   
    <p>
      A continuación se le muestra la <strong>matriz de pagos esperados</strong> con los valores mínimos y máximos:
    </p>

    <table class="egt">

        <thead>
      
          <tr>
      
            <th></th>

            <th></th>
      
            <th colspan="2">Empresa Formal</th>
      
          </tr>
      
          <tr>
            
            <th></th>
      
            <th scope="col"> Estrategias </th>
      
            <th>Transitar</th>
      
            <th>No transitar</th>
      
          </tr>
      
        </thead>
      
        <tbody>
      
          <tr>
      
            <th rowspan="3">Empresa Informal</th>
      
            <th>Transitar</th>
      
            <td>[{{ subsession.session.vars.p_tAtBmin }} - {{ subsession.session.vars.p_tAtBmax }}] , [{{ subsession.session.vars.p_tBtAmin }} - {{ subsession.session.vars.p_tBtAmax }}] </td>
      
            <td>[{{ subsession.session.vars.p_tAnBmin }} - {{ subsession.session.vars.p_tAnBmax }}] , [{{ subsession.session.vars.p_nBtAmin }} - {{ subsession.session.vars.p_nBtAmax }}] </td>
      
          </tr>
      
          <tr>
      
            <th>No transitar</th>
      
            <td>[{{ Constants.p_nAtB }} - {{ Constants.p_nAtB }}] , [{{ Constants.p_tBnA }} - {{ Constants.p_tBnA }}] </td>
      
            <td>[{{ subsession.session.vars.p_nAnBmin }} - {{ subsession.session.vars.p_nAnBmax }}] , [{{ subsession.session.vars.p_nBnAmin }} - {{ subsession.session.vars.p_nBnAmax }}] </td>
            
        </tbody>
      
    </table>

    {% formfields %}

    {% next_button %}

    {% include Constants.instructions_button %}

{% endblock %}
