{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informal Game
{% endblock %}

{% block content %}

    {% include Constants.instructionsA_template %}

    <p>
        Estas guías estarán disponibles en las siguientes pantallas en caso desees consultarlas.
    </p>

    <p>
        A continuación se le muestra la <strong>matriz de pagos esperados</strong>:
    </p>

    <table class="egt">

        <thead>
      
          <tr>
      
            <th></th>

            <th></th>
      
            <th colspan="2">Empresa Formal</th>
      
          </tr>
      
          <tr>
            
            <th></th>
      
            <th scope="col"> Estrategias </th>
      
            <th>Transitar</th>
      
            <th>No transitar</th>
      
          </tr>
      
        </thead>
      
        <tbody>
      
          <tr>
      
            <th rowspan="3">Empresa Informal</th>
      
            <th>Transitar</th>
      
            <td>({{ Constants.e_payment_tA }}, {{ Constants.e_payment_tB_tA }} )</td>
      
            <td>( {{ Constants.e_payment_tA }}, {{ Constants.e_payment_ntB }} )</td>
      
          </tr>
      
          <tr>
      
            <th>No transitar</th>
      
            <td>({{ Constants.endow_A }}, {{ Constants.endow_B }} )</td>
      
            <td>( {{ Constants.e_payment_ntA_ntB }}, {{ Constants.e_payment_ntB }} )</td>
            
        </tbody>
      
    </table>

    {% formfields %}

    {% next_button %}

    {% include Constants.instructions_button %}

{% endblock %}
