  {% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informal Game
{% endblock %}

{% block content %}

    {{ Constants.a_star }}, {{ Constants.b_star }}, {{ Constants.s_minAsolo }}, {{ Constants.s_maxAsolo }}

    {{ Constants.s_minBsolo }}, {{ Constants.s_maxBsolo }} , {{ Constants.s_minBcompa }}, {{ Constants.s_maxBcompa }}

    {% include Constants.instructions_template_A %}

    <p>
      Estas guías estarán disponibles en las siguientes pantallas en caso desees consultarlas.
    </p>
    </p>

    <p>
      Usted pertenece al sector .   
    <p>
      A continuación se le muestra la <strong>matriz de pagos esperados</strong> con los valores mínimos y máximos:
    </p>

    <table class="egt">

        <thead>
      
          <tr>
      
            <th></th>

            <th></th>
      
            <th colspan="2">Empresa Formal</th>
      
          </tr>
      
          <tr>
            
            <th></th>
      
            <th scope="col"> Estrategias </th>
      
            <th>Transitar</th>
      
            <th>No transitar</th>
      
          </tr>
      
        </thead>
      
        <tbody>
      
          <tr>
      
            <th rowspan="3">Empresa Informal</th>
      
            <th>Transitar</th>
      
            <td>[{{ Constants.p_tAtBmin }} - {{ Constants.p_tAtBmax }}] , [{{ Constants.p_tBtAmin }} - {{ Constants.p_tBtAmax }}] </td>
      
            <td>[{{ Constants.p_tAnBmin }} - {{ Constants.p_tAnBmax }}] , [{{ Constants.p_nBtAmin }} - {{ Constants.p_nBtAmax }}] </td>
      
          </tr>
      
          <tr>
      
            <th>No transitar</th>
      
            <td>[{{ Constants.p_nAtB }} - {{ Constants.p_nAtB }}] , [{{ Constants.p_tBnA }} - {{ Constants.p_tBnA }}] </td>
      
            <td>[{{ Constants.p_nAnBmin }} - {{ Constants.p_nAnBmax }}] , [{{ Constants.p_nBnAmin }} - {{ Constants.p_nBnAmax }}] </td>
            
        </tbody>
      
    </table>

    {% formfields %}

    {% next_button %}

    {% include Constants.instructions_button %}

{% endblock %}
