{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informal Game
{% endblock %}

{% block content %}

    <font color="burlywood"><h4 align="right">Tu Etiqueta: {{ participant_id }}</h4></font>   

    <h2>
      Usted se mantiene en el sector  <strong>{{player.role}}</strong> y tiene una dotación inicial de:

      {% if player.id_in_group == 1 %}
        {{ subsession.session.vars.endow_A.3 }}
      {% else %}
        {{ subsession.session.vars.endow_B.3 }}
      {% endif %}

    </h2>    


    <p>
        A continuación se le muestra la <strong>matriz de pagos esperados</strong> con los valores mínimos y máximos:
    </p>
    

    <table  class='table table-bordered text-center'
            style='width: auto; margin: auto'>

        <thead>
      
          <tr>
      
            <th></th>

            <th></th>
      
            <th colspan="2">Empresa Formal</th>
      
          </tr>
      
          <tr>
            
            <th></th>
      
            <th scope="col"> Estrategias </th>
      
            <th>Transitar</th>
      
            <th>No transitar</th>
      
          </tr>
      
        </thead>
      
        <tbody>
      
          <tr>
      
            <th rowspan="3">Empresa Informal</th>
      
            <th>Transitar</th>
      
            <td>[{{ subsession.session.vars.p_tAtBmin.3 }} - {{ subsession.session.vars.p_tAtBmax.3 }}] , [{{ subsession.session.vars.p_tBtAmin.3 }} - {{ subsession.session.vars.p_tBtAmax.3 }}] </td>
      
            <td>[{{ subsession.session.vars.p_tAnBmin.3 }} - {{ subsession.session.vars.p_tAnBmax.3 }}] , [{{ subsession.session.vars.p_nBtAmin.3 }} - {{ subsession.session.vars.p_nBtAmax.3 }}] </td>
      
          </tr>
      
          <tr>
      
            <th>No transitar</th>
      
            <td>[{{ subsession.session.vars.endow_A.3 }} - {{ subsession.session.vars.endow_A.3 }}] , [{{ subsession.session.vars.endow_B.3 }} - {{ subsession.session.vars.endow_B.3 }}] </td>
      
            <td>[{{ subsession.session.vars.p_nAnBmin.3 }} - {{ subsession.session.vars.p_nAnBmax.3 }}] , [{{ subsession.session.vars.p_nBnAmin.3 }} - {{ subsession.session.vars.p_nBnAmax.3 }}] </td>
            
        </tbody>
      
    </table>

    {% formfields %}

    {% next_button %}

    {% include Constants.instructions_buttonA %}

    <p>
      {% include Constants.contact_template %}
    </p>
  

{% endblock %}
