{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h2>
        Bienvenido.
    </h2>

    </p>
        Cada sector tiene una utilidad inicial, la del sector formal es 4 veces la del informal.
    </p>

    <h3>
        Cálculo de los beneficios del sector informal:
    </h3>

    <ul>
        <li>
            <strong>Si usted decide permanecer en el sector informal y la empresa del sector formal tampoco transita</strong>, entonces
            como adicional a su utilidad inicial, recibirá una transferencia del sector formal que es equivalente al impuesto que paga 
            la empresa del sector formal. 
        </li>
    
        <li>
            <strong>Si usted decide permanecer en el sector informal, pero la empresa del sector formal transita al sector informal</strong>, entonces
            usted no recibirá la transferencia, por lo que su beneficio final será igual a su utilidad inicial. 
        </li>
    
        <li>
            <strong>Si usted decide transitar al sector formal</strong>, independientemente de la decisión que tome la empresa formal, adicional a su
            utilidad inicial, usted recibirá una <strong>dotación aleatoria</strong>, la cual podrá tomar valores negativos
            (reflejando pérdias) o positivos (reflejando ganancias). 
                
            <ul>
                <li>Si le toca un valor positvo tendrá que pagar impuestos </li>
                <li>Si le toca valor negativo o cero no pagará impuestos </li>
            </ul>
                 
        </li>
            
    </ul>

    <h3>
        Cálculo de los beneficios del sector formal:
    </h3>

    <ul>
        <li>
            <strong>Si usted decide transitar al sector informal y la empresa del sector informal también transita</strong>, entonces como 
            adicional a su utilidad inicial, recibirá una transferencia de la empresa informal que transitó al sector formal
            que es equivalente al impuesto que paga. 
        </li>
    
        <li>
            <strong>Si usted decide transitar al sector informal, pero la empresa del sector informal no transita al formal</strong>, entonces
            usted no recibirá la transferencia, por lo que su beneficio final será igual a su utilidad inicial. 
        </li>
    
        <li>
            <strong>Si usted decide permanecer en el sector formal</strong>, independientemente de la decisión que tome la empresa informal, 
            adicional a su utilidad inicial, usted recibirá una <strong>dotación aleatoria</strong>, la cual podrá tomar valores negativos
            (reflejando pérdias) o positivos (reflejando ganancias). 
                
            <ul>
                <li>Si le toca un valor positvo tendrá que pagar impuestos </li>
                <li>Si le toca valor negativo o cero no pagará impuestos </li>
            </ul>
                 
        </li>
            
    </ul>

</div>
</div>