{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">

    <h2>
        Bienvenido
    </h2>
    <p>
        Usted será asignado aleatoriamente a un grupo de posibles dos: A o B , los cuales son
        símiles a empresas informales y formales, respectivamente.
    </p>

    <p>
        Se le asignará aleatoriamente un monto inicial expresado en Experimental Currency Unit (ECU). 
    </p>

    <p>
        El pago con el que será compensado una ves termine el juego, serán en función de <strong>la
        diferencia entre su monto inicial y final</strong> del juego. Es así que <strong>los participantes 
        con mayores ganancias en el juego</strong>, serán los que obtengan mayores pagos. 
    </p>

</div>
</div>