{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informal Game: Empresa Formal: grupo B
{% endblock %}

{% block content %}

    <p>
        Usted pertenece al grupo B y se le ha asignado un monto de <strong> {{Constants.media_B}} </strong> ECU.
    </p>

    <p>
        Usted recibirá una asignación aleatoria reflejo de su actividad empresarial, 
        el cuál podrá tomar <strong> valores positivos (ganancias) o negativos (pérdidas) </strong>.
    </p>

    <p>
        Asimismo, tenga en cuenta que las asignaciones aleatorias del grupo B, <strong> son
        considerablemente mayores en promedio </strong> a las transferencias recibidas por el grupo A.
    </p>

    <p>
        Una vez que reciba la nueva asignación aleatoria, en caso de ganancias usted deberá
        pagar impuestos al Gobierno, equivalente  al <strong> 18 por ciento de su monto total disponible </strong> .
        En caso de pérdidas usted no pagará impuestos
    </p>

    <p>
        Luego usted podrá escoger seguir perteneciendo al grupo B o cambiar al grupo A.
    </p>

    <p>
        Finalmente tenga presente que el  <strong> grupo A no recibe asignaciones aleatorias </strong> cada
        periodo, sin embargo i) recibe una transferencia del Gobierno, que se recolecta como
        una proporción de las ganancias del grupo B y ii) si el número de empresas en el grupo
        A es mayor al del grupo B, las empresas sobrantes del grupo A no recibirán
        transferencias.
    </p>

    {% next_button %}

{% endblock %}
